:root {
  --primarysource: rgba(255, 87, 34, 1);
  --primary-0: rgba(35, 10, 0, 1);
  --primaryon-primary-container: rgba(55, 14, 0, 1);
  --primary-20: rgba(100, 14, 0, 1);
  --primary-30: rgba(39, 14, 6, 1);
  --primaryprimary: rgba(186, 29, 0, 1);
  --primary-50: rgba(222, 57, 2, 1);
  --primary-60: rgba(251, 91, 41, 1);
  --primary-70: rgba(255, 130, 83, 1);
  --primary-80: rgba(255, 170, 133, 1);
  --primaryprimary-container: rgba(255, 212, 191, 1);
  --primary-95: rgba(255, 234, 223, 1);
  --primary-99: rgba(255, 242, 235, 1);
  --primaryon-primary: rgba(255, 251, 248, 1);
  --secondarysource: rgba(59, 0, 84, 1);
  --secondary-0: rgba(23, 14, 25, 1);
  --secondaryon-primary-container: rgba(37, 22, 43, 1);
  --secondary-20: rgba(67, 36, 79, 1);
  --secondary-30: rgba(2, 21, 0, 1);
  --secondaryprimary: rgba(127, 71, 150, 1);
  --secondary-50: rgba(156, 95, 180, 1);
  --secondary-60: rgba(182, 122, 204, 1);
  --secondary-70: rgba(205, 152, 223, 1);
  --secondary-80: rgba(224, 185, 237, 1);
  --secondaryprimary-container: rgba(241, 219, 247, 1);
  --secondary-95: rgba(248, 237, 251, 1);
  --secondary-99: rgba(251, 244, 253, 1);
  --secondaryon-primary: rgba(254, 253, 255, 1);
  --neutralsource: rgba(168, 168, 168, 1);
  --neutral-0: rgba(0, 0, 0, 1);
  --neutralon-surface: rgba(28, 28, 28, 1);
  --neutralinverse-surface: rgba(48, 48, 48, 1);
  --neutralon-surface-variant: rgba(71, 71, 71, 1);
  --neutral-40: rgba(94, 94, 94, 1);
  --neutraloutline: rgba(119, 119, 119, 1);
  --neutral-60: rgba(145, 145, 145, 1);
  --neutral-70: rgba(171, 171, 171, 1);
  --neutraloutline-variant: rgba(198, 198, 198, 1);
  --neutralsurface-container-higher: rgba(226, 226, 226, 1);
  --neutralsurface: rgba(241, 241, 241, 1);
  --neutral-99: rgba(252, 252, 252, 1);
  --neutral-100: rgba(255, 255, 255, 1);
  --primary-3source: rgba(178, 34, 34, 1);
  --primary-3on-primary-container: rgba(52, 16, 9, 1);
  --primary-320: rgba(95, 21, 18, 1);
  --primary-330: rgba(137, 27, 26, 1);
  --primary-3primary: rgba(177, 43, 39, 1);
  --primary-350: rgba(212, 68, 58, 1);
  --primary-360: rgba(240, 99, 85, 1);
  --primary-370: rgba(255, 135, 118, 1);
  --primary-380: rgba(255, 174, 159, 1);
  --primary-3primary-container: rgba(255, 214, 205, 1);
  --primary-395: rgba(255, 226, 220, 1);
  --primary-3on-primary: rgba(255, 247, 245, 1);
  --secondary-3source: rgba(50, 205, 50, 1);
  --secondary-3on-secondary-container: rgba(3, 34, 0, 1);
  --secondary-320: rgba(0, 60, 0, 1);
  --secondary-330: rgba(0, 87, 0, 1);
  --secondary-3secondary: rgba(0, 87, 0, 1);
  --secondary-350: rgba(0, 115, 0, 1);
  --secondary-360: rgba(0, 142, 0, 1);
  --secondary-370: rgba(0, 169, 17, 1);
  --secondary-380: rgba(84, 194, 74, 1);
  --secondary-3secondary-container: rgba(143, 216, 129, 1);
  --secondary-395: rgba(199, 237, 189, 1);
  --secondary-399: rgba(227, 246, 222, 1);
  --secondary-3on-secondary: rgba(227, 246, 222, 1);
  --goldsource: rgba(255, 165, 0, 1);
  --gold-0: rgba(30, 14, 0, 1);
  --goldon-tertiary-container: rgba(46, 23, 0, 1);
  --gold-20: rgba(79, 39, 0, 1);
  --gold-30: rgba(112, 57, 0, 1);
  --goldtertiary: rgba(145, 77, 0, 1);
  --gold-50: rgba(177, 101, 0, 1);
  --gold-60: rgba(206, 127, 0, 1);
  --gold-70: rgba(230, 156, 47, 1);
  --gold-80: rgba(249, 187, 112, 1);
  --goldtertiary-container: rgba(255, 220, 180, 1);
  --gold-95: rgba(255, 237, 217, 1);
  --gold-99: rgba(255, 244, 232, 1);
  --goldon-tertiary: rgba(255, 251, 247, 1);
  --errorsource: rgba(221, 0, 0, 1);
  --error-0: rgba(45, 11, 0, 1);
  --erroron-error-container: rgba(59, 11, 0, 1);
  --error-20: rgba(106, 0, 0, 1);
  --error-30: rgba(153, 0, 0, 1);
  --errorerror: rgba(197, 0, 0, 1);
  --error-50: rgba(234, 30, 12, 1);
  --error-60: rgba(255, 76, 45, 1);
  --error-70: rgba(255, 120, 85, 1);
  --error-80: rgba(255, 165, 135, 1);
  --errorerror-container: rgba(255, 210, 192, 1);
  --error-95: rgba(255, 233, 223, 1);
  --error-99: rgba(255, 251, 249, 1);
  --erroron-error: rgba(255, 255, 255, 1);
  --successsource: rgba(2, 183, 53, 1);
  --success-0: rgba(1, 18, 0, 1);
  --successon-success-container: rgba(2, 34, 0, 1);
  --success-20: rgba(0, 59, 0, 1);
  --success-30: rgba(0, 87, 0, 1);
  --successsuccess: rgba(0, 114, 0, 1);
  --success-50: rgba(0, 141, 0, 1);
  --success-60: rgba(0, 168, 46, 1);
  --success-70: rgba(85, 193, 89, 1);
  --success-80: rgba(142, 216, 139, 1);
  --successsuccess-container: rgba(199, 236, 195, 1);
  --success-95: rgba(227, 246, 224, 1);
  --success-99: rgba(238, 250, 237, 1);
  --successon-success: rgba(249, 253, 249, 1);
  --quicksand-display-large-font-family: "Quicksand", Helvetica;
  --quicksand-display-large-font-weight: 500;
  --quicksand-display-large-font-size: 60px;
  --quicksand-display-large-letter-spacing: 0.15px;
  --quicksand-display-large-line-height: 100%;
  --quicksand-display-large-font-style: normal;
  --quicksand-display-medium-font-family: "Quicksand", Helvetica;
  --quicksand-display-medium-font-weight: 500;
  --quicksand-display-medium-font-size: 50px;
  --quicksand-display-medium-letter-spacing: 0px;
  --quicksand-display-medium-line-height: 100%;
  --quicksand-display-medium-font-style: normal;
  --quicksand-display-small-font-family: "Quicksand", Helvetica;
  --quicksand-display-small-font-weight: 500;
  --quicksand-display-small-font-size: 42px;
  --quicksand-display-small-letter-spacing: 0px;
  --quicksand-display-small-line-height: 100%;
  --quicksand-display-small-font-style: normal;
  --quicksand-headline-large-font-family: "Quicksand", Helvetica;
  --quicksand-headline-large-font-weight: 500;
  --quicksand-headline-large-font-size: 40px;
  --quicksand-headline-large-letter-spacing: 0.1px;
  --quicksand-headline-large-line-height: 100%;
  --quicksand-headline-large-font-style: normal;
  --quicksand-headline-medium-font-family: "Quicksand", Helvetica;
  --quicksand-headline-medium-font-weight: 500;
  --quicksand-headline-medium-font-size: 34px;
  --quicksand-headline-medium-letter-spacing: 0px;
  --quicksand-headline-medium-line-height: 100%;
  --quicksand-headline-medium-font-style: normal;
  --quicksand-headline-small-font-family: "Quicksand", Helvetica;
  --quicksand-headline-small-font-weight: 500;
  --quicksand-headline-small-font-size: 32px;
  --quicksand-headline-small-letter-spacing: 0px;
  --quicksand-headline-small-line-height: 100%;
  --quicksand-headline-small-font-style: normal;
  --quicksand-title-large-font-family: "Quicksand", Helvetica;
  --quicksand-title-large-font-weight: 500;
  --quicksand-title-large-font-size: 28px;
  --quicksand-title-large-letter-spacing: 0.07px;
  --quicksand-title-large-line-height: 100%;
  --quicksand-title-large-font-style: normal;
  --quicksand-title-medium-font-family: "Quicksand", Helvetica;
  --quicksand-title-medium-font-weight: 500;
  --quicksand-title-medium-font-size: 24px;
  --quicksand-title-medium-letter-spacing: 0.03600000143051148px;
  --quicksand-title-medium-line-height: 100%;
  --quicksand-title-medium-font-style: normal;
  --quicksand-title-small-font-family: "Quicksand", Helvetica;
  --quicksand-title-small-font-weight: 600;
  --quicksand-title-small-font-size: 20px;
  --quicksand-title-small-letter-spacing: 0.020000000298023225px;
  --quicksand-title-small-line-height: 100%;
  --quicksand-title-small-font-style: normal;
  --quicksand-label-large-font-family: "Quicksand", Helvetica;
  --quicksand-label-large-font-weight: 700;
  --quicksand-label-large-font-size: 20px;
  --quicksand-label-large-letter-spacing: 0.020000000298023225px;
  --quicksand-label-large-line-height: 100%;
  --quicksand-label-large-font-style: normal;
  --quicksand-label-medium-font-family: "Quicksand", Helvetica;
  --quicksand-label-medium-font-weight: 600;
  --quicksand-label-medium-font-size: 16px;
  --quicksand-label-medium-letter-spacing: 0.08px;
  --quicksand-label-medium-line-height: 100%;
  --quicksand-label-medium-font-style: normal;
  --quicksand-label-small-font-family: "Quicksand", Helvetica;
  --quicksand-label-small-font-weight: 600;
  --quicksand-label-small-font-size: 14px;
  --quicksand-label-small-letter-spacing: 0.014000000208616257px;
  --quicksand-label-small-line-height: 100%;
  --quicksand-label-small-font-style: normal;
  --quicksand-body-large-font-family: "Quicksand", Helvetica;
  --quicksand-body-large-font-weight: 500;
  --quicksand-body-large-font-size: 24px;
  --quicksand-body-large-letter-spacing: 0.12px;
  --quicksand-body-large-line-height: 100%;
  --quicksand-body-large-font-style: normal;
  --quicksand-body-medium-font-family: "Quicksand", Helvetica;
  --quicksand-body-medium-font-weight: 500;
  --quicksand-body-medium-font-size: 20px;
  --quicksand-body-medium-letter-spacing: 0.05px;
  --quicksand-body-medium-line-height: 100%;
  --quicksand-body-medium-font-style: normal;
  --quicksand-body-small-font-family: "Quicksand", Helvetica;
  --quicksand-body-small-font-weight: 600;
  --quicksand-body-small-font-size: 14px;
  --quicksand-body-small-letter-spacing: 0.056000000834465026px;
  --quicksand-body-small-line-height: 100%;
  --quicksand-body-small-font-style: normal;
  --lato-display-large-font-family: "Lato", Helvetica;
  --lato-display-large-font-weight: 400;
  --lato-display-large-font-size: 60px;
  --lato-display-large-letter-spacing: 0.15px;
  --lato-display-large-line-height: 100%;
  --lato-display-large-font-style: normal;
  --lato-display-medium-font-family: "Lato", Helvetica;
  --lato-display-medium-font-weight: 500;
  --lato-display-medium-font-size: 50px;
  --lato-display-medium-letter-spacing: 0px;
  --lato-display-medium-line-height: 100%;
  --lato-display-medium-font-style: normal;
  --lato-display-small-font-family: "Lato", Helvetica;
  --lato-display-small-font-weight: 500;
  --lato-display-small-font-size: 42px;
  --lato-display-small-letter-spacing: 0px;
  --lato-display-small-line-height: 100%;
  --lato-display-small-font-style: normal;
  --lato-headline-large-font-family: "Lato", Helvetica;
  --lato-headline-large-font-weight: 500;
  --lato-headline-large-font-size: 40px;
  --lato-headline-large-letter-spacing: 0.1px;
  --lato-headline-large-line-height: 100%;
  --lato-headline-large-font-style: normal;
  --lato-headline-medium-font-family: "Lato", Helvetica;
  --lato-headline-medium-font-weight: 500;
  --lato-headline-medium-font-size: 34px;
  --lato-headline-medium-letter-spacing: 0px;
  --lato-headline-medium-line-height: 100%;
  --lato-headline-medium-font-style: normal;
  --lato-headline-small-font-family: "Lato", Helvetica;
  --lato-headline-small-font-weight: 500;
  --lato-headline-small-font-size: 32px;
  --lato-headline-small-letter-spacing: 0px;
  --lato-headline-small-line-height: 100%;
  --lato-headline-small-font-style: normal;
  --lato-title-large-font-family: "Lato", Helvetica;
  --lato-title-large-font-weight: 500;
  --lato-title-large-font-size: 28px;
  --lato-title-large-letter-spacing: 0.07px;
  --lato-title-large-line-height: 100%;
  --lato-title-large-font-style: normal;
  --lato-title-medium-font-family: "Lato", Helvetica;
  --lato-title-medium-font-weight: 500;
  --lato-title-medium-font-size: 24px;
  --lato-title-medium-letter-spacing: 0.03600000143051148px;
  --lato-title-medium-line-height: 100%;
  --lato-title-medium-font-style: normal;
  --lato-title-small-font-family: "Lato", Helvetica;
  --lato-title-small-font-weight: 500;
  --lato-title-small-font-size: 20px;
  --lato-title-small-letter-spacing: 0.020000000298023225px;
  --lato-title-small-line-height: 100%;
  --lato-title-small-font-style: normal;
  --lato-label-large-font-family: "Lato", Helvetica;
  --lato-label-large-font-weight: 500;
  --lato-label-large-font-size: 20px;
  --lato-label-large-letter-spacing: 0.020000000298023225px;
  --lato-label-large-line-height: 100%;
  --lato-label-large-font-style: normal;
  --lato-label-medium-font-family: "Lato", Helvetica;
  --lato-label-medium-font-weight: 500;
  --lato-label-medium-font-size: 16px;
  --lato-label-medium-letter-spacing: 0.08px;
  --lato-label-medium-line-height: 100%;
  --lato-label-medium-font-style: normal;
  --lato-label-small-font-family: "Lato", Helvetica;
  --lato-label-small-font-weight: 500;
  --lato-label-small-font-size: 14px;
  --lato-label-small-letter-spacing: 0.014000000208616257px;
  --lato-label-small-line-height: 100%;
  --lato-label-small-font-style: normal;
  --lato-body-large-font-family: "Lato", Helvetica;
  --lato-body-large-font-weight: 400;
  --lato-body-large-font-size: 20px;
  --lato-body-large-letter-spacing: 0.1px;
  --lato-body-large-line-height: 100%;
  --lato-body-large-font-style: normal;
  --lato-body-medium-font-family: "Lato", Helvetica;
  --lato-body-medium-font-weight: 500;
  --lato-body-medium-font-size: 14px;
  --lato-body-medium-letter-spacing: 0.035px;
  --lato-body-medium-line-height: 100%;
  --lato-body-medium-font-style: normal;
  --lato-body-small-font-family: "Lato", Helvetica;
  --lato-body-small-font-weight: 500;
  --lato-body-small-font-size: 12px;
  --lato-body-small-letter-spacing: 0.04800000071525574px;
  --lato-body-small-line-height: 100%;
  --lato-body-small-font-style: normal;
}
